/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=block');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://cdn.jsdelivr.net/npm/ag-grid-community@29.3.5/styles/ag-theme-balham.css');

html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
  margin: 0;
}